<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>KNIH</title>
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>
<script type="text/javascript">
    function moveCursor(textbox) {
        if (textbox.value.length == 4) {
            document.getElementById("Pwd").focus();
        }
    }
    $(document).ready(function () {
        $("#submit").click(function () {
            if ($("#Id").val().length == 1) { alert("아이디를 입력하세요"); $("#Id").focus(); return false; }
            if ($("#Pwd").val().length == 0) { alert("비밀번호를 입력하세요"); $("#Pwd").focus(); return false; }
        });
    });
</script>

<body>
    <h1>KNIH 설문조사 로그인</h1>
    <div id="logindiv">
        <form action="/user/login" method="POST">
            <div>
                <div>
                    <label for="enter-login">
                        S아이디
                        <input type="text" id="Id" name="id" , value="S" maxlength="4" onkeyup="moveCursor(this)">
                    </label>
                </div>
                <div>
                    <label for="enter-pwd">
                        비밀번호
                        <input type="password" id="Pwd" name="pwd" , placeholder="Password">
                    </label>
                </div>
            </div>
            <input type="submit" style="width: 50%;" value="로그인" id="submit">
        </form>
    </div>
</body>

</html>