<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <!-- <script src="../static/jscript.js" type="text/js"></script> -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='jscript.js') }}"></script> -->
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <title> 
        [KNIH] AT SCH Univ.
    </title>
</head>

<body>
    <h1>설문 조사를 완료했습니다.</h1>
    <h1>감사합니다.</h1>
</body>