<!DOCTYPE html>
<html lang="kr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        [KNIH] 활동량 상세 정보.
    </title>
</head>
<body>
    <h1>비활동적</h1>
    입원환자 및 거동 어려움
    <hr>
    <h1>저활동적</h1>
    대부분의 시간을 앉아서 하는 정적 활동으로 보내는 경우
    여가시간을 활용하여 적극 및 규칙적으로 운동을 수행하지 않는 일반 사무직 종사는 대부분 저활동적에 해당
    <hr>
    <h1>활동적</h1>
    주로 앉아서 보내지만 서서하는 작업, 통학, 물건 구입, 가사, 규칙적인 가벼운 운동을 하는 경우
    <hr>
    <h1>매우 활동적</h1>
    주로 서서 하는 작업 종사 또는 운동등 활발할 여가 활동을 하는 경우
</body>
