<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KNIH</title>
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
</head>
<script type="text/javascript">
    function moveCursor(textbox) {
        if (textbox.value.length == 4) {
            document.getElementById("pw1").focus();
        }
    }
    function jbSubmit() {
        var pw1 = document.getElementById("pw1").value;
        var pw2 = document.getElementById("pw2").value;
        if (pw1 != pw2) {
            alert("비밀번호가 일치하지 않습니다. 다시 확인해주세요");
            return false;
        }
    }
    $(document).ready(function () {
        $("#submit").click(function () {
            if ($("#id").val().length == 1) { alert("아이디를 입력하세요"); $("#id").focus(); return false; }
            if ($("#pw1").val().length == 0) { alert("비밀번호를 입력하세요"); $("#pw1").focus(); return false; }
            if ($("#pw2").val().length == 0) { alert("비밀번호 확인을 입력하세요"); $("#pw2").focus(); return false; }
        });
    });
</script>

<body>
    <h1><b>KNIH</b></h1>
    <h2>설문조사 회원가입</h2>
    <form id="s1" name="form" action="/register" method="POST" onsubmit="return jbSubmit();">
        <div>
            <label for="id">
                아이디
                <input type="text" name="id" , value="S" maxlength="4" id="id" onkeyup="moveCursor(this)">
            </label>
        </div>
        <hr>
        <div>
            <label for="pw1">
                비밀번호
                <input type="password" id="pw1" name="pwd" , placeholder="Password">
            </label>
        </div>
        <hr>
        <div>
            <label for="pw2">
                비밀번호 확인
                <input type="password" id="pw2" name="pwd2" , placeholder="Password 확인">
            </label>
        </div>
        <hr>
        <div>
            <input type="submit" style="width: 50%;" value="가입" id="submit">
        </div>
    </form>

    {%with messages = get_flashed_messages()%}
    {%if messages %}
    <script type="text/javascript">
        alert("{{messages[-1]}}")
    </script>
    {%endif%}
    {%endwith%}

</body>

</html>
